## Sqlite3

In [1]:
import sqlite3

db = sqlite3.connect("Parsing Data.db")

In [2]:
cur = db.cursor()

In [3]:
cur.execute("create table parsingData (gender text,sudentid INT,marks int)")

In [4]:
cur.execute("insert into parsingData (gender, sudentId, marks) values('Male',1,100)")

In [5]:
# commit when you finish to work on it and the connection will be closed
db.commit()

In [6]:
#print the no of rows updated.
print(cur.rowcount)

1

In [7]:
with open(r"C:\Users\tanbsing\Data.csv.txt",'r') as file:
    total_records = 0
    for row in file:
        cur.execute("insert into parsingData values(?,?,?)",row.split(","))
        db.commit()
        total_records += 1
print(total_records,': Records Inserted')

9 : Records Inserted

In [11]:
results = cur.execute("select * from parsingData")
for row in results:
    print(row)

('Male', 1, 100)
('Male', 97, 23)
('Female', 30, 24)
('Male', 40, 23)
('Male', 30, 14)
('Shemale', 90, 20)
('Female', 46, 25)
('Male', 67, 33)
('Shemale', 80, 63)
('Male', 9, 23)

In [14]:
import sqlite3

In [15]:
# Creating DataBase
DB = sqlite3.connect("dataparsing.db")

In [16]:
# Created Cursor
CUR = DB.cursor()

In [17]:
CUR.execute("create table parsing (sex text, id int, marks int)")

In [19]:
CUR.execute("insert into parsing (sex, id, marks) values('Male',1,3)")

In [20]:
TOTAL = 0

In [21]:
with open(r"C:\Users\tanbsing\Data.csv.txt",'r') as fil:
    for row in fil:
        TOTAL += 1
        CUR.execute("insert into parsing values(?,?,?)",row.split(","))
print(TOTAL)

9

In [23]:
DB.commit()

In [25]:
result = CUR.execute("select * from parsing")
for row in result:
    print(row)

('Male', 1, 3)
('Male', 97, 23)
('Female', 30, 24)
('Male', 40, 23)
('Male', 30, 14)
('Shemale', 90, 20)
('Female', 46, 25)
('Male', 67, 33)
('Shemale', 80, 63)
('Male', 9, 23)

In [31]:
result = CUR.execute("select * from parsing order by marks asc")
for row in result:
    print(row)

('Male', 1, 3)
('Male', 30, 14)
('Shemale', 90, 20)
('Male', 97, 23)
('Male', 40, 23)
('Male', 9, 23)
('Female', 30, 24)
('Female', 46, 25)
('Male', 67, 33)
('Shemale', 80, 63)

### FETCHONE()

In [30]:
result = CUR.execute("select min(marks) from parsing")
print("Minimum Marks :",result.fetchone())

Minimum Marks : (3,)

In [32]:
result = CUR.execute("select max(marks) from parsing")
print("Minimum Marks :",result.fetchone())

Minimum Marks : (63,)

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("dataparsing.db")

In [6]:
def parsing(conn):
    cur = conn.cursor()
    cur.execute("create table class (name text, JoinDate date,roll int)")
    conn.commit()

In [7]:
parsing(conn)

In [8]:
cur = conn.cursor()

In [13]:
cur.execute("insert into class (name, JoinDate, roll) values('Tanbir Singh',12-12-2012,1),('Himanshu Jain',13-12-2021,2),('Rohan joshi',23-05-2019,3)")

In [16]:
DB = sqlite3.connect("DATA.db")

In [17]:
cuR = DB.cursor()

In [19]:
cuR.execute("create table ClasS (gender text, id int, marks int)")

In [21]:
cuR.execute("insert into ClasS (gender, id, marks) values('Male',89,99)")

In [25]:
DB.commit()
total = 0

In [27]:
with open(r"C:\Users\tanbsing\Data.csv.txt",'r') as Info:
    for row in Info:
        cuR.execute("insert into ClasS values(?,?,?)",row.split(","))
        total += 1
print(total)

9

In [28]:
DB.commit()

In [ ]:
result = cuR.

In [2]:
import sqlite3

In [3]:
db1 = sqlite3.connect("work.db")

In [4]:
curr = db1.cursor()

In [9]:
a = 2
def clas(a):
    return (a+2)

In [14]:
print(clas(a))

4