### Refrential integrity

In [4]:
# Data which is entered in primary can be written in Foreign key. 
# Cannnot enter diff data

In [7]:
import sqlite3

In [9]:
DB = sqlite3.connect('referantial.db')

In [10]:
CUR = DB.cursor()

In [12]:
# constraints
# unigue - enter only unigue values,on dulpli
# not null - no blank values can be inserted in table

In [17]:
CUR.execute("create table course1(courseid int primary key, coursename text,duration int) ")

In [18]:
CUR.execute("create table student(roll_no int primary key, studentname text, age int, courseid int, foreign key(courseid) references course(courseid))")

In [19]:
# foreign key(courseid) references course(courseid))
#       value in table  ---------   references to which u are connecting this foreign key

In [21]:
CUR.execute("insert into course values(78,'Data Science',12),(56,'Python Course',4),(101,'Database',7)")
print(CUR.rowcount,": count")
DB.commit()

3 : count

In [22]:
CUR.execute("insert into student values(1,'Jack',22,78),(2,'John',21,56),(3,'Rudolf',18,78),(4,'Jim',21,56)")
print(CUR.rowcount,": Count")
DB.commit()

4 : Count

In [23]:
result = CUR.execute('select * from course')
result.fetchall()

[(78, 'Data Science', 12), (56, 'Python Course', 4), (101, 'Database', 7)]

In [24]:
result = CUR.execute('select * from student')
result.fetchall()

[(1, 'Jack', 22, 78),
 (2, 'John', 21, 56),
 (3, 'Rudolf', 18, 78),
 (4, 'Jim', 21, 56)]

In [26]:
result = CUR.execute("select courseid from where coursename = 'Data Science'")
for i in results:
    print(i)

OperationalError: near "where": syntax error

## Subquery

In [30]:
results = CUR.execute("select * from student where courseid=(select courseid from course where coursename='Data Science')")
results.fetchall()

[(1, 'Jack', 22, 78),
 (2, 'John', 21, 56),
 (3, 'Rudolf', 18, 78),
 (4, 'Jim', 21, 56)]

### Inner Join | Left Join | Right Join | Outer Join

common data | Left data | Righ data | all the data from tables

INNER JOIN

In [ ]:
CUR.execute("select student.roll_no , student.studentname, course.courseid")