# F U N C T I O N S

In [10]:
# Print with f string

In [15]:
def tanb(clas,age):
    print(f"his class is {clas} and age is {age}")
tanb(2,3)

his class is 2 and age is 3

In [16]:
# Print with Format

In [13]:
def tanb1(clas,age):
    print("class is {} and age is {}".format(clas,age))
    
tanb(12,31)

his class is 12 and age is 31

In [19]:
# Print with C style programming

In [20]:
def tanb2(clas,age):
    print("class is %d and age is %d" % (clas,age))
    
tanb2(2,25)

class is 2 and age is 25

In [4]:
def tanb(clas,age):
    print(f"his class is {clas} and age is {age}")
tanb(2,3)

his class is 2 and age is 3

## Return is null

In [2]:
def mul():
    for x in range(5):
        if x == 3:
            return
        print("mul")
mul()

mul
mul
mul

In [7]:
def name(a,b):
    add = a.title() + b
    return add

name("tanbir ","Singh")

'Tanbir Singh'

## *Args

Star * ---> means many |
n ----> means variable it can be anything

In [15]:
def numbs(*n):
    return n
numbs(32,4,324,32,42,3)

(32, 4, 324, 32, 42, 3)

 Min number in the *digt

In [17]:
def numb(*digt):
    return min(digt)

smallest = numb(23.2,23.32,32,234,42,34,32,4,2,234,5,553,43,24,2,34)
smallest

2

## Addition using *args

In [19]:
def sums(*num):
    sum = 0
    for x in num:
        sum += x
    return sum

addition = sums(1,2,3)
addition

6

In [20]:
print(sums(1,23,4,342,234,3))

607

In [22]:
def nmbrs(*args):
    return sum(args)
nmbrs(232,324,243,24,24,24,2)

873

# ANONYMOUS FUNCTIONS

In [24]:
#lamba Function
# used for single line calculations

In [26]:
mult = lambda x:x*2
mult(2)

4

x after lambda means variables without declaring them 
anonymous declaration

In [27]:
m = lambda x,y,z : x + y + z
m(1,2,3)

6

In [28]:
square = lambda x : x**2
square(5)

25

In [31]:
addvar = lambda var1,var2 : var1 + var2 

print("total is ",addvar(1,2))

total is  3

## calculation in Return statement

In [36]:
#Temperature in Fahrenheit

In [37]:
def fahrenheit(temp):
    return((9/5)*temp + 32)

fahrenheit(30)

86.0

Temperature in Fahrenheit

In [40]:
F = lambda T:(9/5)*T + 32
F(16)

60.8

In [42]:
T = lambda F: (5/9)*(F-32)
T(60.8)

16.0

## MAP Function with lambda

In [11]:
# map is used to pass data in list to the lambda function
# to check result need to use list = to hold data

In [12]:
c = [12,213,213,213,124,214,1241,2412,4123,123,1]

mult = (map(lambda x:x*2,c))

mult

In [24]:
c = [12,213,213,213,124,214,1241,2412,4123,123,1.6324234234]

mult = list(map(lambda x:x*2,c))

mult

[24, 426, 426, 426, 248, 428, 2482, 4824, 8246, 246, 3.2648468468]

In [25]:
# pass this data and process it with FOR LOOP

In [26]:
newList = [round(j,2) for j in mult]
print(newList)

[24, 426, 426, 426, 248, 428, 2482, 4824, 8246, 246, 3.26]

In [27]:
# Round function round(j,2) ---> 2 means 2 values after decimal
# like 2.32423532  |   round(j,2) it will take only last 2 values
# 2.32